body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}
/*Fixed header and navigation*/

header {
    background-color: black;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
  }

  header img {
    height: 50px;
    padding-left: 10px;
  }

  header ul {
    padding: 0;
  }

  header li {
    display: inline;
    margin: 0 10px;
  }

  header a {
    color: seashell;
    font-size: 22px;
  }

/*Mission statement*/

#mission {
    background-image: url(img/mission-background.jpg);
    background-size: cover;
    height: 700px;
    width: 1200px;
    margin: auto;
}

.overlay {
    width: 1200px;
    background-color: black;
    position: relative;
    top: 40%;
    z-index: 5; 
}

.overlay h2 {
    padding-top: 25px
}

.overlay h4 {
    padding-bottom: 25px;
}
/*Featured Teas*/

#featured {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.specials {
    padding-top: 69px;
    width: 1000px;
}

.tea {
    flex-flow: row wrap;
    margin: 15px;
}

.tea img {
    height: 200px;
    width: 300px;
    margin-bottom: -20px;
    
}


/*Store Locations*/

#locations {
    background-image: url(img/locations-background.jpg);
    background-size: cover;
    width: 1200px;
    height: 500px;
    margin: auto;
}

#locations h2 {
    margin: auto;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#locations article {
    width: 300px;
    opacity: 1;
    background-color: black;
    margin: 15px 20px;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact {
    height: 200px;
    margin: auto;
}

.copyright {
    text-align: left;
    margin: 20px;
}
